body {
    height: 800px;
}

.container {
    height: 100%;
    background-image: url("../media/back-big.png");
    position: relative;
    display: flex;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

table {
    border-collapse: collapse;
    position: absolute;
}

tr td {
    border: 3px solid #aaa;
    box-shadow: inset -2px -2px 5px #000;
    flex-wrap: nowrap
}

.ball {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: inset 15px -15px 20px #000;
    position: absolute;
}

.ball::after {
    content: " ";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #ddd;
    box-shadow: 0 0 5px #fff;
    position: absolute;
    left: 55%;
    top: 40%;
}

img[src="../media/gear-btn.png"] {
    cursor: pointer;
}


/* LEFT INVENTORY */

.leftInv>table>tbody>tr>td {
    width: 25px;
    height: 25px;
}

.leftInv>table>tbody>tr>td>img {
    background: #404
}

.leftInv>table {
    margin-right: 10px;
    right: 0;
    top: 30%;
}

.leftInv {
    height: 100%;
    width: 50%;
    position: relative;
}

.leftInv img[src="../media/gear-btn.png"] {
    position: absolute;
    top: 547px;
    right: 18px;
}

.leftInv img[ src="../media/bg_item.png"] {
    position: absolute;
    top: 20%;
    right: 0;
}

.leftInv img[ src="../media/btn-add.png"] {
    position: absolute;
    top: 750px;
    right: 250px;
}

.money {
    position: absolute;
    top: 23%;
    right: 70px;
    width: 180px;
    height: 50px;
}

.money table {
    width: 100%;
}

.red {
    background: #900;
    top: 85%;
    left: 7%;
}

.money img {
    cursor: pointer;
    float: left;
}

.money tr td {
    border-collapse: separate;
}

.money td {
    border: 3px solid #ddd;
}

.money>table>tbody>tr>td {
    background: #000;
    color: #ddd;
    text-align: center;
}

.money>table>tbody>tr>td+td {
    width: 100%;
}

.leftInv .manTable {
    background: #fd0;
    top: 750px;
    right: 100px;
    width: 100px;
}

.manTable>table>tbody>tr>td {
    width: 100%;
}


/* RIGHT INVENTORY */

.rightInv img[ src="../media/bg_item-right.png"] {
    top: 20%;
    position: absolute;
}

.blue {
    background: #009;
    top: 85%;
    right: 3%;
}

.rightInv .money {
    position: absolute;
    top: 69%;
    left: 70px;
    width: 150px;
}

.rightInv {
    height: 100%;
    width: 50%;
    position: relative;
}

.rightInv img[src="../media/gear-btn.png"] {
    position: absolute;
    top: 547px;
    left: 18px;
}

.rightInv>table>tbody>tr>td {
    width: 25px;
    height: 25px;
}

.rightInv>table {
    margin-left: 12px;
    top: 45%;
}

.rightInv img[src="../media/btn-add.png"] {
    position: absolute;
    top: 750px;
    left: 250px;
}