a {
    display: inline-block;
    background: #333;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
    z-index: 1;
    display: inline-block;
    background: #bbd;
    margin: 20px;
    border-radius: 20px;
    position: relative;
    transition: all 0.4s;
}

li:hover {
    z-index: 1000;
    transform: perspective(500px) translate3d(0, 0, 150px);
    filter: drop-shadow(0 0 10px #555);
    transition: all 0.4s;
}

a:hover li {
    text-align: center;
    z-index: 100;
}